<div class="story-body">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, elit tincidunt dapibus interdum, dui ligula tincidunt arcu, sed euismod lorem lacus quis metus. Aliquam non feugiat mi. Nam dictum arcu at magna sollicitudin tristique.</p>
  <!-- If you use images, the path is just images/___ -->
   <p style="text-align: center"><img src="images/chart01.jpg"></p>
  <p>Phasellus lacus lectus, semper ut mollis vitae, fermentum ac massa. Duis pulvinar, lorem non interdum bibendum, sapien tellus volutpat massa, mollis sodales lectus ligula eget ex. Donec hendrerit imperdiet commodo. Fusce ut leo sed purus posuere tempor ut bibendum lectus. Aenean sem purus, euismod ut fringilla ultricies, convallis a nulla.</p>
</div>