<div class="story-body">
  <p>Children from different neighborhoods in Long Island face unequal oppotunity. A Newsday study has found that children from poor neighborhoods have fewer oppotunities.</p>
  <p>The chart below shows that the household income is closely associated with the children's opportunity score (COS). The less household income of the neighborhood is, the fewer opportunities the children have.</p>
  <p>The COS is part of a <a href="http://www.diversitydatakids.org">study</a> called The Child Opportunity Index (COI) 2.0 by Brandeis University. The institution compares neighborhood opportunity for children across the United States based on census tracts.</p>
  <p>The Long Island's <a href="https://datausa.io/profile/geo/nassau-county-ny#about">household income data</a> is based on the Data USA project by MIT and Deloitte.</p>
  <!-- If you use images, the path is just images/___ -->
   <p style="text-align: center"><img src="images/chart01.jpg"></p>
</div>