<div class="story-body">
  <p>Children from different neighborhoods in Long Island face unequal oppotunity. A Newsday study has found that children from poor neighborhoods have fewer oppotunities.</p>
  <p>The chart below shows that the household income is closely associated with the children's "opportunity score". The less income the neighborhood has, the fewer opportunities the children have.</p>
  <p>The score is from a <a href="http://www.diversitydatakids.org">study</a> by Brandeis University. The institution compares neighborhood opportunity for children across the United States based on resources and conditions in education, health and environment.</p>
  <p> For example, neighborhoods with quality early childhood education and schools, safer housing, more parks and playgrounds are labled with higher opportunity scores for children.</p>
  <p>The <a href="https://datausa.io/profile/geo/nassau-county-ny#about">household income data</a> comes from the Data USA project by MIT and Deloitte. Both data are based on census tracts.</p>
  <!-- If you use images, the path is just images/___ -->
   <p style="text-align: center"><img src="images/chart01.jpg"></p>
</div>