<div class="story-body">
  <p>The two maps below show the distributions of income and children's opportunity level in Long Island.</p>
  <p>Towns like Hempstead not only
have very low annual household income level (less than $50,000), but also have the lowest oppotunity level
for children (the bottom 20% nationally).</p>
  <!-- If you use images, the path is just images/___ -->
<p style="text-align: center"><img src="images/chart02.jpg"></p>  
</div>

