<div class="story-body">
  <p>Experts measure opportunities for children based on various indicators, including early childhood education and schools, safe housing, access to healthy food, parks and playgrounds and clean air etc.</p>
  <p>The two maps below show the distributions of income and children's opportunity level in Long Island. Unfortunately, Long Island children from low income families are less likely to get opportunities to thrive.</p>
  <p>Towns like Hempstead, Wyandanch or Riverhead not only
have the lowest household income level, not also have the fewest oppotunities
for children.</p>
  <!-- If you use images, the path is just images/___ -->
<p style="text-align: center"><img src="images/chart02.jpg"></p>  
</div>

