<div class="story-body">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, elit tincidunt dapibus interdum, dui ligula tincidunt arcu, sed euismod lorem lacus quis metus. Aliquam non feugiat mi. Nam dictum arcu at magna sollicitudin tristique.</p>
  <!-- If you use images, the path is just images/___ -->
</div>
   <p style="text-align: center"><img src="images/chart05.jpg"></p>

