---
headline: "Long Island Children From Poor Neighborhoods Have Fewer Oppotunities"
subhead: "In Long Island, household income inequalities are closely related to unequal opportunities for children."
published_date: "March 9, 2020"
site: ""
siteName: ""
url: ""
kicker: "Newsday Project"
author:
    name: "Ming Li"
    url: "https://mingligraphics.github.io"
    twitterHandle: ""
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

{{> story/basic }}

<!-- 
  Charts are exactly the same.
-->

{{> story/chart }}

<!-- 
  If you want to use something exported from ai2html...
    1. Rename the exported .html file to .hbs
    2. Put the .hbs file inside of 'html/story'
    3. Move the exported images to the images folder
    4. Include the partial normally like below
  -->

{{!-- {{> story/illustrator_demo }} --}}

<!--
  You can also put the actual HTML here if you really want to,
  although it's a little less organized looking
-->

<div class="story-body">
    <h2>Methodology:</h2>
    <p><strong>* About The Data:</strong></p>
    <p>I narrow both the income and Chidren Opportunity Score/Level data to Long Island census tracts. Both of them are measured at the national level so that they are comparable.</p>
    <p><strong>* How Did I Make The Graphics:</strong></p>
    <p>I used <strong>Pandas</strong> to build and merge my dataframes. I used <strong>seaborn</strong> to plot the chart. The two maps were created in <strong>Qgis</strong> and then I threw everything in <strong>Adobe illustrator</strong> to make them prettier. I used <strong>sawhorse</strong> to build the whole page.</p>
    <p><strong>* Limitation About The Project:</strong></p>
    <p>1. The household income is perhaps one of the underlying indicators of the Children Oppotunity Index itself, so the findings may not be very suprising. In a way, it emphasizes the high correlation between economic status and children's opportunity level.</p>
    <p>2. For the map, I tried to categorize Long Island income levels into five categories based on <a href="https://statisticalatlas.com/state/New-York/Household-Income">the national standard</a>. However, the "very high", "high" or "low" classification is somewhat subjective.</p>
    <p>All the data and codes are on the project's <a href="https://github.com/mingligraphics/newsday">Github page</a>.</p>
</div>
